{% extends 'base.html' %}

{% block content %}
<h2>Insertar nuevo producto</h2>

<form method="POST">
    <label>Título:</label><br>
    <input type="text" name="titulo" required><br><br>

    <label>Precio:</label><br>
    <input type="number" step="0.01" name="precio" required><br><br>

    <label>Fecha extracción:</label><br>
    <input type="date" name="fecha_extraccion" required><br><br>

    <label>URL:</label><br>
    <input type="url" name="url" required><br><br>

    <label>Tienda:</label><br>
    <select name="tienda" required>
        <option value="Amazon">Amazon</option>
        <option value="Liverpool">Liverpool</option>
    </select><br><br>

    <button type="submit">Guardar</button>
</form>

<a href="{{ url_for('index') }}">Volver al inicio</a>
{% endblock %}
